body{padding:14px 28px;}
body, table {font-family: Helvetica, Arial, Sans-serif; font-size: 20px; clear:both;}
h1, h2, h3, h4 {font-weight: normal; color: #3366cc;  clear:both;}
h1 {font-size: 200%;}
h2 {font-size: 150%;}
h3 {font-size: 120%;}
h4 {font-size: 100%; font-weight:bold}
img {float:left; clear:right; margin-top:15px; margin-left:auto; margin-right:auto}
.small{font-size:8pt;}
a {color: black;}
a:visited {color: #808080;}
a.plain {text-decoration:none;  }
a.plain:hover {text-decoration:underline;}
.em {font-weight:bold;}
pre, code {font-family: "lucida console", monospace;}
pre {padding:8px; border:1px solid #c0c0c0; border-radius:8px; background-color:#fdfdfd;}
code {color:#3366cc; background-color:#fafafa;;  }
pre code { color:black; background-color:white; }
/* Added for Pandoc */
figure > img, div.figure > img {display:block; margin:auto;  }
figcaption, p.caption {text-align:center; font-weight:bold; color:#3366cc;}
h1.title {text-align:center; margin-bottom:0; }
p.author, h2.author {font-style:italic; text-align:center;margin-top:4px;margin-bottom:0; }
p.date, h3.date {text-align:center;margin-top:4px; margin-bottom:0; }
/* Tables*/
table { float:left; margin-top:15px; border-collapse:collapse;  clear:both;}
table caption { margin-bottom:1ex;;  clear:both;}
th, td { padding:4px 6px;  clear:both;}
thead tr:first-child th {border-top:1px solid black; padding-top:6px;  clear:both;}
thead tr:last-child  th {padding-bottom:6px;  clear:both;}
tbody tr:first-child td {border-top:1px solid black; padding-top:6px;  clear:both;}
tbody tr:last-child  td {padding-bottom:6px;  clear:both;}
table tbody:last-child tr:last-child td {border-bottom:1px solid black;  clear:both;}
p {
  clear: both;
}
hr {
    display: block;
    height: 15px;
    border: 0;
    border-bottom: 3px dashed #050505;
    margin: 0 0;
    padding: 0;
    clear: both;
}
